body{
    margin: 0px;
}
main {
    background-image: url(landing.jpg);
    text-align: center;
    /* background-size: cover; */
    color: white;
    font-size: 25px;
}
#main {
    display: flex;

}
/*
table,td, div{
    padding: 15px;
    align-items: flex-start;
    border: 2px;

}
.food-stuffs {
    display: flex;
    flex-direction: row;
    color: white;
    font-style: italic;

}
#what-we-offer > table {
    margin: 0px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-style: normal;
}
#Happy-Hour {
    background-color: lightgray;
    color: black;
}
table {
    text-align: center;
    flex: 1;
    padding: 15px;
    border-collapse: collapse;
    border: 2px solid black;

}
#breafast, #lunch ,#dinner {
    flex: 1;
    text-align: center;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#breakfast {
    background-image: url(./breakfast.jpg);
}
#lunch {
    background-image: url(./lunch.jpg);
}
#dinner {
    background-image: url(./dinner.jpg);
}
footer {
    text-align: center;
}

}

}
#fastfoodimages {
    flex-direction: row;
    border: 2px solid lightgrey;
    background-color: white;
    
}
#fast{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.foods{
    display: flex;
    justify-content: space-around;
    align-items: center;
}.happy{
    border: 1px solid white;
}
.happy2{
    background-color: grey;
}
.party{
    background-color:  #F15A29;
}
.combined{
    display: flex;
    flex-direction: row;
    
}
.home{
    background-image: url("./breakfast.jpg");
}
.home1{
    background-image: url("./lunch.jpg");
}
.home2{
    background-image: url("./dinner.jpg");
}
#Drinks {
    display: flex;
    flex-grow: 3;

}
.footer {
    background-color: #F15A29;
    padding-top: 40px;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    background-size: cover;
}
#logopic {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-bottom: 3px;
}
*/
/* New css starts here*/
.meals{
    display: flex;
    align-content: space-around;
    text-align: center;
    color: white;
    margin-top: 2px ;
    
    
}
.breakfast{
    background-image: url(breakfast.jpg);
    width: 25%;
    padding: 40px;
}
.lunch{
    background-image: url(/lunch.jpg);
    width: 25%;
    padding: 40px;

}
.dinner{
    background-image: url(/dinner.jpg);
    width: 25%;
    padding: 40px;
}
.hhour{
    width: 25%;
}
.happy1{
    color: black;
    height: 40px;
}
.party1{
    background-color: #F15A29;
    height: 60px;
    padding-top: 10px;
}
/*Section 3 styling*/
.items{

    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}
.foodfast{
    display: flex;
}
.foodtxt {
    padding-left: 20px;
}
.drinks1 {
    display: flex;
}
.drinkimg {
    display: flex;
}
.drinkstxt {
    text-align: right;
    padding-right: 20px;
}
/* Burgers */
nav, ul, li {
    list-style: none;
    display: flex;
    padding-right: 3px;
    justify-content: space-around;
    color: black;
}
.burgers {
    background-image: url(./foodsBg.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
}
#Ff {
    color: #F15A29;
}
.burgers1 {
    width: 70%;
    
    margin-left: 15%;
    margin-right: 15px;
    background-color: white ;
}
#fastfoodlist {
    display: flex;
    justify-content: space-evenly;

}
.fastfood2{
    justify-content: space-evenly;
}
#Ff1 {
    background-color: lightgray;
    background-size: cover;
}
#Ff1 {
    background-color: lightgray;
}

.switcher {
    background-image: url(foodsBg.jpg);
    width: 80%;
    margin: 0 auto;
    padding: 5em 6em;
}
.switcher-container {
    background-color: #fff;
}
.switcher-list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #999;
}
.switcher-list-item1 {
    background: #fff;
    padding-top: 1em;
    padding-left: 7em;
    padding-right: 7em;
    color: #F25C2A;
    font-weight: bold;
}
.switcher-list-item {
    border-right: .8px solid #111;
    padding-right: 6em;
}
.switcher-images {
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 1.5em;
   margin-left: 4em;
   margin-right: 4em;
}
.food-image1 p{
    color: #F25C2A;
    font-weight: bold;
}
.footer{
    background-color: #F25C2A;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
#footertxt{
    font-size: 16px;
}

