body{
    margin: 0px;
}
main {
    background-image: url(landing.jpg);
    text-align: center;
    /* background-size: cover; */
    color: white;
    font-size: 25px;
}
#main {
    display: flex;

}
.meals{
    display: flex;
    align-content: space-around;
    text-align: center;
    color: white;
    margin-top: 2px ;
    
    
}
.breakfast{
    background-image: url(breakfast.jpg);
    width: 25%;
    padding: 40px;
}
.lunch{
    background-image: url(/lunch.jpg);
    width: 25%;
    padding: 40px;

}
.dinner{
    background-image: url(/dinner.jpg);
    width: 25%;
    padding: 40px;
}
.hhour{
    width: 25%;
}
.happy1{
    color: black;
    height: 40px;
}
.party1{
    background-color: #F15A29;
    height: 60px;
    padding-top: 10px;
}
/*Section 3 styling*/
.items{

    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}

.foodfast{
    display: flex;
}
.foodtxt {
    padding-left: 20px;
}
.drinks1 {
    display: flex;
}
.drinkimg {
    display: flex;
}
.drinkstxt {
    text-align: right;
    padding-right: 20px;
}
/* Burgers */
nav, ul, li {
    list-style: none;
    display: flex;
    padding-right: 3px;
    justify-content: space-around;
    color: black;
}
.burgers {
    background-image: url(./foodsBg.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
}
#Ff {
    color: #F15A29;
}
.burgers1 {
    width: 70%;
    
    margin-left: 15%;
    margin-right: 15px;
    background-color: white ;
}
#fastfoodlist {
    display: flex;
    justify-content: space-evenly;

}
.fastfood2{
    justify-content: space-evenly;
}
#Ff1 {
    background-color: lightgray;
    background-size: cover;
}
#Ff1 {
    background-color: lightgray;
}

.Ff {
    background-image: url(foodsBg.jpg);
    width: 80%;
    margin: 0 auto;
    padding: 5em 6em;
}
.Fastfoods {
    background-color: #fff;
}
.Fastfoodimages {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #999;
}
.Ff1 {
    background: #fff;
    padding-top: 1em;
    padding-left: 7em;
    padding-right: 7em;
    color: #F25C2A;
    font-weight: bold;
}
.Fastfoodclass {
    border-right: .8px solid #111;
    padding-right: 6em;
}
.Foodsimages {
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 1.5em;
   margin-left: 4em;
   margin-right: 4em;
}
.food1 p{
    color: #F25C2A;
    font-weight: bold;
}
.subscribe{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-image: url(/subscribe.jpg);
    color: white;
}
.button1{
    height: 40px;
    color: white;
    background-color: #F25C2A;
    border-radius: 8px;

}
input{
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 8px;
}


.footer{
    background-color: #F25C2A;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
#footertxt{
    font-size: 16px;
}


